[Unit]
Description=Media Frame service
After=network.target

[Service]
User=pi
Group=pi
ExecStart=/home/pi/scripts/github/media_frame/scripts/media_frame_service.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

